<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= content %></p>

    <form id="messageForm">
      <input type="text" name="name" id="name" placeholder="名前" required size="10">
      <input type="text" name="message" id="message" placeholder="メッセージ" required size="30">
      <input type="submit" onclick="send(this);return false;" value="送信">
    </form>

    <div class="dashboard">
      <p>ここにメッセージを追加していく予定</p>
    </div>

    <script>
      var socket = io.connect();

      function send(elm) {
        var forms = elm.form;
        var name = forms.name;
        var message = forms.message;
        if (name.value != '' && message.value != '') {
          socket.emit('message', {value: {'name': name.value, 'message': message.value}});
        } else {
          var dashboard = document.getElementByid('messageForm');
          dashboard[0].insertAdjacentHTML('afterend', "<p style='color: red;'>※全部入力してね</p>");
        }
        message.value = '';
      }

      socket.on('from_server', function (data) {
        write(data.value);
      });

      function write(message) {
        var dashboard = document.getElementsByClassName('dashboard');
        dashboard[0].insertAdjacentHTML('beforeend', "<p>" + message.name + ": " + message.message + "</p>");
      }


      // socket.emit('message', {value: 'そいっ！！'});

    </script>

  </body>
</html>
